{% extends "base.html" %}
{% load static %}
{% block meta %}{% endblock meta %}

{% block title %}Dream Career Hub {% endblock title %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'custom_static/read.css' %}" />'

{% endblock links %}

{% block body %}

<section class="home-about">

   <div class="image">
      <img src="{% static 'custom_static/images/test6.png' %}" alt="">
   </div>

   <div class="content">
      <h3>about us</h3>
      <p>DCH is established with the motive to provide up-to –Date College and university information, right
         academic counseling, visa documentation guidelines and fast service. Two approaches are very
         important to us at DCH firstly, understand your profile and then giving professional legal advice with
         unmatched personal attention to each one of our clients in obtaining their visas.
         We shall Grow everyday by challenging ourselves not others; Accelerate by competing with our own
         past performance not of others; and Excel by outperforming our own expectation and not of others.
         DCH is an innovative and specialist educational consultancy service provider. It is truthfully offering
         complete guidance and information for academic matters such as the choice of course, admission
         guidance and helping student in selecting best programs in different fields to various universities and
         colleges.</p>
         
   </div>

</section>

{% endblock body %}


{% block scripts %}

{% endblock scripts %}